@{
        ViewData["title"] = "Customer Page";
    }
    <div class="text-center">
        <h1 class="display-4">About me</h1>
        <p></p>
        <h5>First Name: Olawale</h5>
        <p></p>
        <h5>Last Name: Inaobatan</h5>
    </div>
    <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Customer Information Table</h4>                                  
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table data-url="@Url.Action("GetCustomer", "Home")" class="table table-hover table-striped">
                                         <thead>
                                            <tr>
                                                <th data-field="firstName">FirstName</th>
                                                <th data-field="lastName">LastName</th>
                                                <th data-field="dateOfBirth">Date of Birth</th>
                                                <th data-field="address">Address</th>
                                                <th data-field="sex">Sex</th>
                                            </tr>
                                                                                 
                                        </thead>

                                    </table>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>